form[id^='asamp'] .cmb-type-multicheck-inline > .cmb-td > .cmb2-checkbox-list > li {
	width: 100%;
}

@media only screen and (min-width: 480px) {
	form[id^='asamp'] .cmb-type-multicheck-inline > .cmb-td > .cmb2-checkbox-list > li {
		width: 50%;
		float: left;
	}
}

@media only screen and (min-width: 960px) {
	form[id^='asamp'] .cmb-type-multicheck-inline > .cmb-td > .cmb2-checkbox-list > li {
		width: 33.33%;
	}
}

form[id^='asamp'] fieldset {
	border: 1px solid #ebebeb;
	padding: 1em;
	margin-bottom: 2em;
}

form[id^='asamp'] fieldset > legend {
	border: 1px solid #ebebeb;
	padding: 0 0.6em;
}

form[id^='asamp'] .cmb-repeat-group-wrap .cmb-repeat-group-field {
	border-bottom: none;
	padding: 0;
}

form[id^='asamp'] .cmb-repeat-group-wrap .cmb-remove-field-row {
	margin-bottom: 0;
}

form[id^='asamp'] .cmb-repeat-group-wrap .cmb-group-title {
	margin-bottom: 2em;
}

form[id^='asamp'] .cmb-repeat-group-wrap .cmb-field-list {
	padding-bottom: 0;
}

form[id^='asamp'] .cmb-repeat-group-wrap .cmb-td .cmb-th,
form[id^='asamp'] .cmb-th {
	width: 30%;
	min-width: 200px;
	padding: 5px 0 1em 0;
	float: left;
}

form[id^='asamp'] .button-primary[type='submit'] {
	width: 100%;
	margin-bottom: 1em;
}

form#asamp_login_form .cmb-th {
	padding: 0;
	width: 100%;
}

form[id^='asamp'] .cmb-repeat-group-wrap .cmb-td .cmb-td .cmb-td,
form[id^='asamp'] .cmb-td {
	width: 70%;
	padding: 0 0 1em 0;
	float: left;
}

form[id^='asamp'] .cmb-repeat-group-wrap .cmb-td,
form#asamp_login_form .cmb-td {
	width: 100%;
}

@media only screen and (max-width: 1065px) {
	form[id^='asamp'] .cmb-repeat-group-wrap .cmb-td .cmb-th,
	form[id^='asamp'] .cmb-th {
		width: 100%;
		padding: 0;
	}

	form[id^='asamp'] .cmb-repeat-group-wrap .cmb-td .cmb-td .cmb-td,
	form[id^='asamp'] .cmb-td {
		width: 100%;
	}
}

form[id^='asamp'] .cmb-td input:not([type='checkbox']) {
	width: 100%;
}

form[id^='asamp'] .cmb-type-multicheck-inline > .cmb-th,
form[id^='asamp'] .cmb-type-multicheck-inline > .cmb-td {
	width: 100%;
}

form[id^='asamp'] .cmb-type-multicheck-inline > .cmb-td p {
	text-align: right;
	margin-top: -1.2em;
}

form[id^='asamp'] .cmb-type-multicheck-inline > .cmb-td .cmb-multicheck-toggle {
	color: #000;
	background-color: #dfdfdf;
	cursor: pointer;
	padding: 0.4em;
}

form[id^='asamp'] .cmb-type-textarea > .cmb-td textarea {
	width: 100%;
}

form[id^='asamp'] .cmb-type-select > .cmb-td select {
	width: 100%;
}

form[id^='asamp'] .cmb-repeat > .cmb-td .cmb-add-row-button {
	margin-bottom: 2em;
}

.asamp-login-box::after {
	content: '';
	display: table;
	clear: both;
}

.asamp-login-box .asamp-not-a-member {
	padding: 1em 0;
	float: left;
}

.asamp-login-box .asamp-forgot-pw {
	display: block;
	clear: both;
	padding-top: 1em;
}

.asamp-login-box .btn-success {
	background-color: #5cb85c;
}

.asamp-login-box .btn-success:hover {
	background-color: #449d44;
}

.asamp-login-box .asamp-register-btn {
	float: right;
}

.asamp-login-box.over {
	position: relative;
}

.asamp-login-box-activator.hidden,
.asamp-login-box.hidden {
	display: none;
}

.asamp-login-box.over > div {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 1em;
}

div.asamp-submission-error-message p:last-child {
	margin-bottom: 0;
}

.asamp-submission-error-message,
.asamp-validation-error-message {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	border-radius: 4px;
	padding: 0.6em;
	margin: 0 0 1em 0;
}

.asamp-submission-warning-message {
	background-color: #fcf8e3;
	color: #8a6d3b;
	border: 1px solid #faf2cc;
	border-radius: 4px;
	padding: 0.6em;
	margin: 0 0 1em 0;
}

.asamp-submission-success-message {
	background-color: #dff0d8;
	color: #3c763d;
	border: 1px solid #d0e9c6;
	border-radius: 4px;
	padding: 0.6em;
	margin: 0 0 1em 0;
}

.asamp-validation-error {
	border-color: #f00 !important;
}

.asamp-validation-error-message {
	max-width: 300px;
}

.asamp-validation-error-message ul {
	padding-top: 1em;
	padding-left: 2em;
}

.asamp-dir,
.asamp-dir ul,
.asamp-dir ol,
.asamp-dir p,
.asamp-dir h2,
.asamp-dir h3,
.asamp-dir h4,
.asamp-dir address {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.asamp-dir svg {
	height: 1em;
	width: 1em;
	margin-right: 0.4em;
	fill: #2d2d2d;
	vertical-align: top;
	margin-top: 0.4em;
}

.asamp-member {
	padding-bottom: 2em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ebebeb;
}

.asamp-member:last-child {
	border-bottom: none;
}

.asamp-company-description p {
	margin-bottom: 0.6em;
}

.asamp-company-business-types li {
	display: inline-block;
	background-color: #ebebeb;
	margin: 0 0.3em 0.3em 0;
	padding: 0 0.4em;
}

.asamp-company-business-types li:last-child {
	margin-right: 0;
}

.asamp-company-address {
	display: inline-block;
}

.asamp-contact-name {
	display: inline;
}

.asamp-contact-title {
	display: inline;
}

.asamp-contact-position {
}